{% extends 'layout/base.html.twig' %}

{% form_theme form 'form/errors.html.twig' %}

{% block title %}Reset password – {{ '~site_name'|trans }}{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="card-wrapper auth">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ '~auth.reset_password_title'|trans }}</h4>

                    {{ form_start(form) }}
                        {{ form_errors(form) }}

                        <div class="form-group">
                            {{ form_label(form.plainPassword.first, '~auth.password'|trans) }}
                            {{ form_widget(form.plainPassword.first, {attr : {'data-eye': true}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.plainPassword.second, '~auth.repeat_password'|trans) }}
                            {{ form_widget(form.plainPassword.second, {attr : {'data-eye': true}}) }}
                        </div>

                        <div class="form-group mt-2">
                            <div class="form-text text-muted" style="font-size: 0.8rem">
                                {{ '~auth.reset_password_help_text'|trans }}
                            </div>
                        </div>

                        <div class="form-group m-0">
                            <button type="submit" class="btn btn-primary btn-block" formnovalidate>
                                {{ '~auth.reset_password_button_text'|trans }}
                            </button>
                        </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
