{% form_theme orderForm 'layout/form/_errors.html.twig' %}

<div class="modal-header">
    <h4 class="modal-title">Редактировать заказ {{ order.idWithPrefix }}</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
    </button>
</div>

{{ form_start(orderForm, {'attr': {'id': 'order-shop-form'}}) }}
    {{ form_widget(orderForm._token) }}
    {{ form_errors(orderForm) }}
<!--Body-->
<div class="modal-body ui-front">{# без класса ui-front список autocomplite'a будет показан не рядом с полем поиска #}

    <div class="form-row">

        <div class="form-group col-12 col-lg-4">
            <label for="{{ orderForm.rate.vars.id }}">
                Курс $
                {% if (orderForm.rate.vars.errors) %}
                    {% for error in orderForm.rate.vars.errors %}
                        <span class="invalid-feedback d-block">
                    <span class="d-block"><span class="form-error-message">{{ error.message }}</span></span>
                 </span>
                    {% endfor %}
                {% endif %}
            </label>

            <div class="input-group input-group-sm">
                <input type="text" class="form-control form-control-sm" id="{{ orderForm.rate.vars.id }}" name="{{ orderForm.rate.vars.full_name }}" value="{{ orderForm.rate.vars.value }}">
                <div class="input-group-append">
                    <label class="input-group-text" for="{{ orderForm.isRateFinal.vars.id }}">Окончательный?</label>
                    <div class="input-group-text">
                        <input type="checkbox" id="{{ orderForm.isRateFinal.vars.id }}" name="{{ orderForm.isRateFinal.vars.full_name }}"
                               {% if orderForm.vars.value.isRateFinal %}checked{% endif %}>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-12 col-lg-4">
            {{ form_label(orderForm.additionalCost, 'Доп. затраты, $    ') }}
            {{ form_widget(orderForm.additionalCost, {'attr': {'class': 'form-control-sm'}}) }}
        </div>

        <div class="form-group col-12 col-lg-4">
            {{ form_label(orderForm.tracking, 'Трекинг по США') }}
            {{ form_widget(orderForm.tracking, {'attr': {'class': 'form-control-sm'}}) }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-12">
            {{ form_label(orderForm.additionalCostComment, 'Комментарий к дополнительным затратам') }}
            {{ form_widget(orderForm.additionalCostComment, {'attr': {'class': 'form-control-sm'}}) }}
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-12 col-sm-4">
            {{ form_label(orderForm.deliveryToStock, 'Доставка по США, $') }}
            {{ form_widget(orderForm.deliveryToStock, {'attr': {'class': 'form-control-sm'}}) }}
        </div>
        <div class="form-group col-12 col-sm-4">
            {{ form_label(orderForm.deliveryToRussiaPerKg, 'Доставка в Россию за кг, $') }}
            {{ form_widget(orderForm.deliveryToRussiaPerKg, {'attr': {'class': 'form-control-sm'}}) }}
        </div>
        <div class="form-group col-12 col-sm-4">
            {{ form_label(orderForm.deliveryToClient, 'Доставка по России, руб.') }}
            {{ form_widget(orderForm.deliveryToClient, {'attr': {'class': 'form-control-sm'}}) }}
        </div>
    </div>

    <hr class="border-danger mb-0">
    <p class="text-center  alert-danger">Поля ниже не видны клиенту</p>

    <div class="form-row">
        <div class="form-group col-12 col-md-6">
            {{ form_label(orderForm.deliveryToStockReal, 'Реальная доставка по США, $') }}
            {{ form_widget(orderForm.deliveryToStockReal, {'attr': {'class': 'form-control-sm'}}) }}
        </div>
        <div class="form-group col-12 col-md-6">
            {{ form_label(orderForm.deliveryToRussiaPerKgReal, 'Реальная доставка в Россию за кг, $') }}
            {{ form_widget(orderForm.deliveryToRussiaPerKgReal, {'attr': {'class': 'form-control-sm'}}) }}
        </div>
        <div class="form-group col-12 col-md-6">
            {{ form_label(orderForm.deliveryToClientReal, 'Реальная доставка по России, руб.') }}
            {{ form_widget(orderForm.deliveryToClientReal, {'attr': {'class': 'form-control-sm'}}) }}
        </div>
        <div class="form-group col-12 col-md-6">
            {{ form_label(orderForm.additionalCostReal, 'Реальные доп. затраты, $') }}
            {{ form_widget(orderForm.additionalCostReal, {'attr': {'class': 'form-control-sm'}}) }}
        </div>
    </div>

</div>
<!--Footer-->
<div class="modal-footer">
    {{ include('layout/_save_button.html.twig') }}
</div>
{{ form_end(orderForm, {'render_rest': false}) }}
{# csrf_token генерируется отдельным полем, в form_end можно запретить рендер остальных полей #}
{# {{ form_end(form, {'render_rest': false}) }} #}
