{% form_theme productForm 'layout/form/_errors.html.twig' %}

<div class="modal-header">
    <h4 class="modal-title">Редактировать товар {{ product.idWithPrefix }}</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
    </button>
</div>

{{ form_start(productForm) }}
    {{ form_widget(productForm._token) }}
    {{ form_errors(productForm) }}
<!--Body-->
<div class="modal-body">
    <div class="form-row">
        <div class="form-group col-md-12 col-lg-6">
            {{ form_label(productForm.price, 'Цена') }}
            {{ form_widget(productForm.price, {'attr': {'class': 'form-control-sm'}}) }}
            <small id="product_price_help" class="form-text text-muted">Цена выкупа для клиента</small>
        </div>

        <div class="form-group col-md-12 col-lg-6">
            {{ form_label(productForm.expectedWeight, 'Предварительный вес, г') }}
            {{ form_widget(productForm.expectedWeight, {'attr': {'class': 'form-control-sm'}}) }}
            <small id="product_expected_weight_help" class="form-text text-muted">Предварительный вес, полученный из интернета</small>
        </div>

        <div class="form-group col-md-12 col-lg-6">
            {{ form_label(productForm.weight, 'Итоговый вес, г') }}
            {{ form_widget(productForm.weight, {'attr': {'class': 'form-control-sm'}}) }}
            <small id="product_weight_help" class="form-text text-muted">Окончательный вес после взвешивания после получения товара</small>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12 col-lg-6">
            {{ form_label(productForm.purchasePrice, 'Реальная цена выкупа') }}
            {{ form_widget(productForm.purchasePrice, {'attr': {'class': 'form-control-sm'}}) }}
            <small id="product_purchase_price_help" class="form-text text-muted">Цена, по которой реально был выкуплен товар</small>
        </div>

        <div class="form-group col-md-12 col-lg-6">
            {{ form_label(productForm.purchaseShop, 'Реальный магазин выкупа') }}
            {{ form_widget(productForm.purchaseShop, {'attr': {'class': 'form-control-sm'}}) }}
            <small id="product_purchase_shop_help" class="form-text text-muted">Магазин, где реально был выкуплен товар</small>
        </div>
    </div>


</div>
<!--Footer-->
<div class="modal-footer">
    {{ include('layout/_save_button.html.twig') }}
</div>
{{ form_end(productForm, {'render_rest': false}) }}
{# csrf_token генерируется отдельным полем, в form_end можно запретить рендер остальных полей #}
{# {{ form_end(form, {'render_rest': false}) }} #}
