<div class="form-row">
    <div class="form-group col-md-12 col-lg-6">
        {{ form_label(productForm.price, 'Цена') }}
        {{ form_widget(productForm.price, {'attr': {'class': 'form-control-sm'}}) }}
        <small id="product_name_help" class="form-text text-muted">Цена выкупа для клиента</small>
    </div>

    <div class="form-group col-md-12 col-lg-6">
        {{ form_label(productForm.expectedWeight, 'Предварительный вес') }}
        {{ form_widget(productForm.expectedWeight, {'attr': {'class': 'form-control-sm'}}) }}
        <small id="product_url_help" class="form-text text-muted">Предварительный вес, полученный из интернета</small>
    </div>

    <div class="form-group col-md-12 col-lg-6">
        {{ form_label(productForm.weight, 'Итоговый вес') }}
        {{ form_widget(productForm.weight, {'attr': {'class': 'form-control-sm'}}) }}
        <small id="product_url_help" class="form-text text-muted">Окончательный вес после взвешивания после получения товара</small>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-12 col-lg-6">
        {{ form_label(productForm.purchasePrice, 'Реальная цена выкупа') }}
        {{ form_widget(productForm.purchasePrice, {'attr': {'class': 'form-control-sm'}}) }}
        <small id="product_url_help" class="form-text text-muted">Цена, по которой реально был выкуплен товар</small>
    </div>

    <div class="form-group col-md-12 col-lg-6">
        {{ form_label(productForm.purchaseShop, 'Реальный магазин выкупа') }}
        {{ form_widget(productForm.purchaseShop, {'attr': {'class': 'form-control-sm'}}) }}
        <small id="product_url_help" class="form-text text-muted">Магазин, где реально был выкуплен товар</small>
    </div>
</div>

