{% extends 'layout/base.html.twig' %}

{% block title %}Заказ участника СП{{ parent() }}{% endblock %}

{% block body %}

    {# @var $basket Basket #}
    <div class="row">
        <div class="col-12">
            <h1 class="align-self-center mb-0">Заказ {{ basket.idWithPrefix }}</h1>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-12 col-md-4">
            {{ include('layout/bit/_basket_status.html.twig') }}
            {{ include('layout/bit/_basket_rate_icon.html.twig') }}
            <a href="{{ basket.shop }}" class="ml-1" target="_blank">{{ basket.shop }} <i class="fa fa-xs fa-external-link-alt"></i></a>
            <br>
            <strong>Комментарий клиента:</strong> {% if basket.userComment %}{{ basket.userComment }}{% else %}–{% endif %}
        </div>
        <div class="col-12 col-md-4">


        </div>
        <div class="col-12 col-md-4 text-right">
            <button type="button" class="btn btn-sm btn-narrow btn-dark-green basket-manager-edit" data-basket-id="{{ basket.id }}"><i class="fa fa-edit"></i></button>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-12">
            <h2 class="align-self-center">Товары</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-sm table-responsive-sm">
                <thead>
                <tr>
                    <th style="width: 1%">#</th>
                    <th style="width: 20%">Название</th>
                    <th style="width: 1%"><nobr>Кол-во</nobr></th>
                    <th style="width: 1%"><nobr>Цена $</nobr></th>
                    <th style="width: 1%"><nobr>Сумма $</nobr></th>
                    <th style="width: 1%"><nobr>Сумма р.</nobr></th>
                    <th style="width: 1%">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for product in basket.products %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            <a href="{{ product.url }}" target="_blank">{{ product.name }} <i class="fa fa-xs fa-external-link-alt"></i></a>
                            {% if product.article %}{{ product.article }}{% endif %}
                            {% if product.comment %}<br>{{ product.comment }}{% endif %}
                        </td>
                        <td>{{ product.amount }}</td>
                        <td>{{ product.userPrice }}</td>
                        <td>{{ product.sum }}</td>
                        <td>{% if basket.rate %}{{ product.sumRub }}{%- else -%}{%- endif -%}</td>
                        <td>
                            <nobr>
                                <button type="button" class="btn btn-sm btn-narrow btn-mdb-color darken-3 mr-2 product-manager-edit" data-product-id="{{ product.id }}">
                                    <i class="fa fa-edit"></i>
                                </button>
                                {{ include('product/_delete_form.html.twig') }}
                            </nobr>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Вы еще не добавили ни одного товара.</td>
                    </tr>
                {% endfor %}
                {% if basket.products.count %}
                    <tr>
                        <th></th>
                        <th>Итого товары</th>
                        <th>{{ basket.productsAmount }}</th>
                        <th></th>
                        <th>{{ basket.productsSum }}</th>
                        <th>{% if basket.rate %}{{ basket.productsSumRub }}{%- else -%}–{%- endif -%}</th>
                        {% if is_granted('BASKET_MANAGE', basket) %}<th></th>{% endif %}
                    </tr>
                    {% if basket.deliveryToStock %}
                        <tr>
                            <td></td>
                            <td colspan="3">Доставка по США</td>
                            <td>{{ basket.deliveryToStock }}</td>
                            <td>{{ (basket.rate and basket.deliveryToStockRub) ? basket.deliveryToStockRub : '–' }}</td>
                            {% if is_granted('BASKET_MANAGE', basket) %}<td></td>{% endif %}
                        </tr>
                    {% endif %}
                    {% if basket.deliveryToRussia %}
                        <tr>
                            <td></td>
                            <td colspan="3">Доставка в Россию</td>
                            <td>{{ basket.deliveryToRussia }}</td>
                            <td>{{ (basket.rate and basket.deliveryToRussiaRub) ? basket.deliveryToRussiaRub : '–' }}</td>
                            {% if is_granted('BASKET_MANAGE', basket) %}<td></td>{% endif %}
                        </tr>
                    {% endif %}
                    {% if basket.deliveryToClient %}
                        <tr>
                            <td></td>
                            <td colspan="4">Доставка по России</td>
                            <td>{{ basket.deliveryToClient }}</td>
                            {% if is_granted('BASKET_MANAGE', basket) %}<td></td>{% endif %}
                        </tr>
                    {% endif %}
                    {% if basket.additionalCost %}
                        <tr>
                            <td></td>
                            <td colspan="2">
                                Дополнительные затраты <i class="far fa-comment" data-toggle="tooltip" title="{{ basket.additionalCostComment }}"></i>
                            </td>
                            <td>{{ basket.additionalCost }}</td>
                            <td colspan="2"></td>
                            {% if is_granted('BASKET_MANAGE', basket) %}<td></td>{% endif %}
                        </tr>
                    {% endif %}
                    <tr>
                        <th></th>
                        <th colspan="4">Итого товары + доставка</th>
                        <th>{{ basket.rate and basket.totalRub ? basket.totalRub : '–'}}</th>
                        {% if is_granted('BASKET_MANAGE', basket) %}<th></th>{% endif %}
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
