{% extends 'layout/base.html.twig' %}

{% block title %}Заказы участников СП{{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <h1 class="mb-0 align-self-center">Заказы участников СП</h1>
        </div>
    </div>

    <table class="table table-sm table-responsive-sm">
        <thead>
        <tr>
            <th rowspan="2">Номер</th>
            <th rowspan="2">Магазин/трекинг</th>
            <th rowspan="2">Пользователь</th>
            <th rowspan="2">Статус/<nobr>Курс $</nobr></th>
            <th rowspan="2">Сумма за товары</th>
            <th colspan="3" class="text-center">Доставка</th>
            <th rowspan="2">Итого</th>
            <th rowspan="2"></th>
        </tr>
        <tr>
            <th>по США</th>
            <th>в Россию</th>
            <th>по России</th>
        </tr>
        </thead>
        <tbody>
        {% for basket in baskets %}
            <tr>
                <td><a class="dashed" href="{{ path('manager_basket_show', {'basket_id': basket.id} ) }}" title="Создан {{ basket.createDate.format('Y-m-d') }}">{{ basket.idWithPrefix }}</a></td>
                <td>
                    {{ basket.shop }}
                    {% if basket.tracking %}<br>{{ basket.tracking }}{% endif %}
                </td>
                <td>{{ basket.user }}</td>
                <td>
                    {{ include('layout/bit/_basket_status.html.twig') }}
                    {{ include('layout/bit/_basket_rate_icon.html.twig') }}
                </td>
                <td>
                    {{ (basket.productsSum) ? basket.productsSum ~ '$' : '–' }}
                    <br>{{ (basket.rate and basket.productsSumRub) ? basket.productsSumRub ~ ' руб.' : '–' }}
                </td>
                <td>
                    {{ basket.deliveryToStock ? basket.deliveryToStock ~ '$': '–' }}
                    <br>{{ (basket.rate and basket.deliveryToStockRub) ? basket.deliveryToStockRub ~ ' руб.' : '–' }}
                </td>
                <td>
                    {{ basket.deliveryToRussia ? basket.deliveryToRussia ~ '$': '–' }}
                    <br>{{ (basket.rate and basket.deliveryToRussiaRub) ? basket.deliveryToRussiaRub ~ ' руб.' : '–' }}
                </td>
                <td>
                    <br>{{ basket.deliveryToClient ? basket.deliveryToClient ~ ' руб.' : '–'}}
                </td>
                <td>
                    <br>{{ basket.rate and basket.totalRub ? basket.totalRub ~ ' р.' : '–'}}
                </td>
                <td>
                    <nobr>
                        <button type="button" class="btn btn-sm btn-narrow btn-mdb-color darken-3 mr-2 basket-manager-edit" data-basket-id="{{ basket.id }}">
                            <i class="fa fa-edit"></i>
                        </button>
                    </nobr>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Записей не найдено.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
