{% extends 'layout/base.html.twig' %}

{% block title %}Заказы участников СП{{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <h1 class="mb-0 align-self-center">Заказы участников СП</h1>
        </div>
    </div>

    <table class="table table-sm table-hover table-responsive-sm">
        <thead>
        <tr>
            <th rowspan="2">Номер</th>
            <th rowspan="2">Магазин/трекинг</th>
            <th rowspan="2">Пользователь</th>
            <th rowspan="2">Статус/<nobr>Курс $</nobr></th>
            <th rowspan="2">Сумма за товары</th>
            <th colspan="3" class="text-center">Доставка</th>
            <th rowspan="2">Доп. затр.</th>
            <th rowspan="2">Итого</th>
            <th rowspan="2"></th>
        </tr>
        <tr>
            <th>по США</th>
            <th>в Россию</th>
            <th>по России</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td><a class="dashed" href="{{ path('manager_order_show', {'order_id': order.id} ) }}" title="Создан {{ order.createDate.format('Y-m-d') }}">{{ order.idWithPrefix }}</a></td>
                <td>
                    {{ order.shop }}
                    {% if order.tracking %}<br>{{ order.tracking }}{% endif %}
                </td>
                <td>{{ order.user }}</td>
                <td>
                    {{ include('layout/bit/_order_status.html.twig') }}
                    {{ include('layout/bit/_order_rate.html.twig') }}
                </td>
                <td>
                    {{ (order.productsSum) ? order.productsSum ~ '$' : '–' }}
                    <br>{{ (order.rate and order.productsSumRub) ? order.productsSumRub ~ ' руб.' : '–' }}
                </td>
                <td>
                    {{ order.deliveryToStock ? order.deliveryToStock ~ '$': '–' }}
                    <br>{{ (order.rate and order.deliveryToStockRub) ? order.deliveryToStockRub ~ ' руб.' : '–' }}
                </td>
                <td>
                    {{ order.deliveryToRussia ? order.deliveryToRussia ~ '$': '–' }}
                    <br>{{ (order.rate and order.deliveryToRussiaRub) ? order.deliveryToRussiaRub ~ ' руб.' : '–' }}
                </td>
                <td>
                    <br>{{ order.deliveryToClient ? order.deliveryToClient ~ ' руб.' : '–'}}
                </td>
                <td>
                    {{ order.additionalCost ? order.additionalCost ~ '$': '–' }}
                    <br>{{ order.additionalCostRub ? order.additionalCostRub ~ ' руб.' : '–' }}
                </td>
                <td>
                    <br>{{ order.rate and order.totalRub ? order.totalRub ~ ' р.' : '–'}}
                </td>
                <td>
                    <nobr>
                        <button type="button" data-id="{{ order.id }}" class="btn btn-sm btn-warning order-manager-edit">
                            <i class="fa fa-edit"></i>
                        </button>
                    </nobr>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Записей не найдено.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
