{% extends 'layout/base.html.twig' %}

{% block title %}Заказ участника СП{{ parent() }}{% endblock %}

{% block body %}

    {# @var $order Order #}
    {# @var $product Product #}
    <div class="row">
        <div class="col-12">
            <h1 class="align-self-center mb-0">Заказ {{ order.idWithPrefix }}</h1>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-12 col-md-4">
            {{ include('layout/bit/_order_status.html.twig') }}
            {{ include('layout/bit/_order_rate.html.twig') }}
            <a href="{{ order.shop }}" class="ml-1" target="_blank">{{ order.shop }} <i class="fa fa-xs fa-external-link-alt"></i></a>
            <br>
            <strong>Комментарий клиента:</strong> {% if order.userComment %}{{ order.userComment }}{% else %}–{% endif %}
        </div>
        <div class="col-12 col-md-4">

        </div>
        <div class="col-12 col-md-4 text-right">
            <button type="button" data-id="{{ order.id }}" class="btn btn-sm btn-warning order-manager-edit">
                <i class="fa fa-edit"></i> <span class="d-none d-sm-inline pl-1">Редактировать</span>
            </button>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-12">
            <h2 class="align-self-center">Товары</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-sm table-hover table-responsive-md">
                <thead>
                <tr>
                    <th style="width: 1%">#</th>
                    <th style="width: 20%">Название</th>
                    <th class="text-right" style="width: 1%"><nobr>Кол-во, шт.</nobr></th>
                    <th class="text-right" style="width: 1%"><nobr>Цена, $</nobr></th>
                    <th class="text-right" style="width: 1%"><nobr>Сумма, $</nobr></th>
                    <th class="text-right" style="width: 1%"><nobr>Сумма, р.</nobr></th>
                    <th class="text-right" style="width: 1%"><nobr>Цена выкупа, $</nobr></th>
                    <th class="text-right" style="width: 1%"><nobr>Сумма выкупа, $</nobr></th>
                    <th class="text-right" style="width: 1%"><nobr>Сумма выкупа, р.</nobr></th>
                    <th class="text-right" style="width: 1%"><nobr>Вес, г</nobr></th>
                    <th style="width: 1%">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for product in order.products %}
                    {# @var $product Product #}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            <a href="{{ product.url }}" target="_blank">{{ product.name }} <i class="fa fa-xs fa-external-link-alt"></i></a>
                            {% if product.article %}{{ product.article }}{% endif %}
                            {% if product.comment %}<br>{{ product.comment }}{% endif %}
                        </td>
                        <td class="text-right">{{ product.amount }}</td>
                        <td class="text-right">
                            {% if product.userPrice %}
                                <span class="{% if product.price and (product.price != product.userPrice) %}striked{%- endif -%}">{{ product.userPrice }}</span>
                            {%- else -%}
                                –
                            {%- endif -%}
                            {% if product.price and (product.price != product.userPrice) %}<br>{{ product.price }}{%- endif -%}
                        </td>
                        <td class="text-right">{{ product.total }}</td>
                        <td class="text-right">{% if order.rate %}{{ product.totalRub }}{%- else -%}–{%- endif -%}</td>
                        <td class="text-right">
                            {% if product.purchasePrice %}
                                {{ product.purchasePrice }}
                                {% if product.finalPrice > product.purchasePrice %}
                                    <span class="text-success">(+{{ product.finalPrice - product.purchasePrice }})</span>
                                {% else %}
                                    <span class="text-danger">({{ product.finalPrice - product.purchasePrice }})</span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="text-right">
                            {{ product.purchaseTotal }}
                            {% if product.total > product.purchaseTotal %}
                                <span class="text-success">(+{{ product.total - product.purchaseTotal }})</span>
                            {% else %}
                                <span class="text-danger">({{ product.total - product.purchaseTotal }})</span>
                            {% endif %}
                        </td>
                        <td class="text-right">
                            {% if order.rate %}
                                {{ product.purchaseTotalRub }}
                                {% if product.totalRub > product.purchaseTotalRub %}
                                    <span class="text-success">(+{{ product.totalRub - product.purchaseTotalRub }})</span>
                                {% else %}
                                    <span class="text-danger">({{ product.totalRub - product.purchaseTotalRub }})</span>
                                {% endif %}
                            {%- else -%}
                                –
                            {%- endif -%}
                        </td>
                        <td class="text-right">
                            {% if product.expectedWeight %}
                                <span class="{% if product.weight and (product.weight != product.expectedWeight) %}striked{%- endif -%}">{{ product.expectedWeight }} г</span>
                            {%- else -%}
                                –
                            {%- endif -%}
                            {% if product.weight and (product.weight != product.expectedWeight) %}<br>{{ product.weight }} г{%- endif -%}
                        </td>
                        <td class="text-right">
                            <nobr>
                                <button type="button" class="btn btn-sm btn-warning mr-1 product-manager-edit" data-id="{{ product.id }}">
                                    <i class="fa fa-edit"></i>
                                </button>
                                {{ include('product/_delete_form.html.twig') }}
                            </nobr>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Вы еще не добавили ни одного товара.</td>
                    </tr>
                {% endfor %}
                {% if order.products.count %}
                    <tr>
                        <th></th>
                        <th>Итого товары</th>
                        <th class="text-right">{{ order.productsAmount }} шт.</th>
                        <th></th>
                        <th class="text-right">{{ order.productsSum }} $</th>
                        <th class="text-right">{% if order.rate %}{{ order.productsSumRub }} руб.{%- else -%}–{%- endif -%}</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="text-right">{{ order.productsWeightTotal }} г</th>
                        {% if is_granted('ORDER_MANAGE', order) %}<th></th>{% endif %}
                    </tr>
                    {% if order.deliveryToStock %}
                        <tr>
                            <td></td>
                            <td colspan="3">Доставка по США</td>
                            <td class="text-right">{{ order.deliveryToStock }} $</td>
                            <td class="text-right">{{ (order.rate and order.deliveryToStockRub) ? order.deliveryToStockRub ~ ' руб.' : '–' }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% if is_granted('ORDER_MANAGE', order) %}<td></td>{% endif %}
                        </tr>
                    {% endif %}
                    {% if order.deliveryToRussia %}
                        <tr>
                            <td></td>
                            <td colspan="3">
                                Доставка в Россию
                                <i class="far fa-question-circle pointer"
                                   data-toggle="tooltip"
                                   title="{{ order.productsWeightTotal }}г (вес всех товаров) / 1000 (г в кг) * {{ order.deliveryToRussiaPerKg }}$ (стоимость доставки за 1кг)"
                                ></i>
                            </td>
                            <td class="text-right">{{ order.deliveryToRussia }} $</td>
                            <td class="text-right">{{ (order.rate and order.deliveryToRussiaRub) ? order.deliveryToRussiaRub ~ ' руб.' : '–' }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% if is_granted('ORDER_MANAGE', order) %}<td></td>{% endif %}
                        </tr>
                    {% endif %}
                    {% if order.deliveryToClient %}
                        <tr>
                            <td></td>
                            <td colspan="4">Доставка по России</td>
                            <td class="text-right">{{ order.deliveryToClient }} руб.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% if is_granted('ORDER_MANAGE', order) %}<td></td>{% endif %}
                        </tr>
                    {% endif %}
                    {% if order.additionalCost %}
                        <tr>
                            <td></td>
                            <td colspan="3">
                                Дополнительные затраты <i class="far fa-question-circle pointer" data-toggle="tooltip" title="{{ order.additionalCostComment }}"></i>
                            </td>
                            <td class="text-right">{{ order.additionalCost }} $</td>
                            <td class="text-right">{% if order.rate %}{{ order.additionalCostRub }} руб.{%- else -%}–{%- endif -%}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% if is_granted('ORDER_MANAGE', order) %}<td></td>{% endif %}
                        </tr>
                    {% endif %}
                    <tr>
                        <th></th>
                        <th colspan="4">Итого товары + доставка</th>
                        <th class="text-right">{{ order.rate and order.totalRub ? order.totalRub ~ ' руб.' : '–'}}</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        {% if is_granted('ORDER_MANAGE', order) %}<th></th>{% endif %}
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
