<div class="form-row">
    <div class="form-group col-md-12 col-lg-6">
        {{ form_label(form.name, 'Название') }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control-sm'}}) }}
        <small id="product_name_help" class="form-text text-muted">Как в магазине</small>
    </div>

    <div class="form-group col-md-12 col-lg-6">
        {{ form_label(form.url, 'Ссылка') }}
        {{ form_widget(form.url, {'attr': {'class': 'form-control-sm'}}) }}
        <small id="product_url_help" class="form-text text-muted">Именно на этот товар. Должен начинаться с http</small>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-6 col-sm-4">
        {{ form_label(form.amount, 'Количество') }}
        {{ form_widget(form.amount, {'attr': {'class': 'form-control-sm'}}) }}
    </div>
    <div class="form-group col-6 col-sm-4">
        {{ form_label(form.userPrice, 'Цена') }}
        {{ form_widget(form.userPrice, {'attr': {'class': 'form-control-sm'}}) }}
        <small id="product_userPrice_help" class="form-text text-muted">Как в магазине</small>
    </div>
    <div class="form-group col-12 col-sm-4">
        {{ form_label(form.article, 'Артикул/EbayID') }}
        {{ form_widget(form.article, {'attr': {'class': 'form-control-sm'}}) }}
        <small id="product_article_help" class="form-text text-muted">Если есть</small>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-12">
        {{ form_label(form.comment, 'Комментарий') }}
        {{ form_widget(form.comment, {'attr': {'class': 'form-control-sm'}}) }}
        <small id="product_comment_help" class="form-text text-muted">Например, характеристики товара, которые не определяются по ссылке и их надо выбирать отдельно на странице товара в магазине. Максимум 250 символов</small>
    </div>
</div>
