{{ form_widget(productForm._token) }}
{{ form_errors(productForm) }}

<div class="form-row">
    <div class="form-group col-md-12 col-lg-6">
        {{ form_label(productForm.name, 'Название') }}
        {{ form_widget(productForm.name, {'attr': {'class': 'form-control-sm'}}) }}
        <small id="product_name_help" class="form-text text-muted">Как в магазине</small>
    </div>

    <div class="form-group col-md-12 col-lg-6">
        {{ form_label(productForm.url, 'Ссылка') }}
        {{ form_widget(productForm.url, {'attr': {'class': 'form-control-sm'}}) }}
        <small id="product_url_help" class="form-text text-muted">Именно на этот товар в магазине. Должен начинаться с http</small>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-6 col-sm-4">
        {{ form_label(productForm.amount, 'Количество') }}
        {{ form_widget(productForm.amount, {'attr': {'class': 'form-control-sm'}}) }}
    </div>
    <div class="form-group col-6 col-sm-4">
        {{ form_label(productForm.userPrice, 'Цена') }}
        {{ form_widget(productForm.userPrice, {'attr': {'class': 'form-control-sm'}}) }}
        <small id="product_userPrice_help" class="form-text text-muted">Цена как в магазине. Разделитель целой и десятичной части – точка</small>
    </div>
    <div class="form-group col-12 col-sm-4">
        {{ form_label(productForm.article, 'Артикул/EbayID') }}
        {{ form_widget(productForm.article, {'attr': {'class': 'form-control-sm'}}) }}
        <small id="product_article_help" class="form-text text-muted">Если есть</small>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-12">
        {{ form_label(productForm.comment, 'Комментарий') }}
        {{ form_widget(productForm.comment, {'attr': {'class': 'form-control-sm'}}) }}
        <small id="product_comment_help" class="form-text text-muted">Например, характеристики товара, которые не определяются по ссылке и их надо выбирать отдельно на странице товара в магазине. Максимум 250 символов</small>
    </div>
</div>

{# csrf_token генерируется отдельным полем, в form_end можно запретить рендер остальных полей #}
{# {{ form_end(productForm, {'render_rest': false}) }} #}