<!DOCTYPE html>

<title>Product index</title>

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Url</th>
                <th>Article</th>
                <th>UserPrice</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Comment</th>
                <th>Status</th>
                <th>ExpectedWeight</th>
                <th>Weight</th>
                <th>PurchasePrice</th>
                <th>PurchaseShop</th>
                <th>CreateDate</th>
                <th>UpdateDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.url }}</td>
                <td>{{ product.article }}</td>
                <td>{{ product.userPrice }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.amount }}</td>
                <td>{{ product.comment }}</td>
                <td>{{ product.status }}</td>
                <td>{{ product.expectedWeight }}</td>
                <td>{{ product.weight }}</td>
                <td>{{ product.purchasePrice }}</td>
                <td>{{ product.purchaseShop }}</td>
                <td>{{ product.createDate ? product.createDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.updateDate ? product.updateDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}
