{% extends 'emails/email_layout.html.twig' %}

{% block subject %}Восстановление пароля – {{ app_site_name_for_email }}{% endblock %}

{% block body_text %}{% endblock %}

{% block body_html_content %}
    <p>
        Здравствуйте, {{ user.firstname }}!
    </p>
    <p>
        Кто-то (надеемся, вы) запросил сброс пароля для вашего аккаунта.<br>
        Пока никаких изменений с вашим аккаунтом не произведено.<br>
        Если вы не запрашивали изменение пароля, просто проигнорируйте это письмо.
    </p>
    <p>
        Вы можете сбросить пароль, перейдя по ссылке ниже.<br>
        Ссылка действительна в течение одного часа.
    </p>
    <p>
        <a href="{{ resetPasswordUrl }}">{{ resetPasswordUrl }}</a>
    </p>
    <p>
        ––<br>
        Команда {{ app_site_name_for_email }}
    </p>
{% endblock %}
