{% extends 'emails/email_layout.html.twig' %}

{% block subject %}Активируйте аккаунт – {{ app_site_name_for_email }}{% endblock %}

{% block body_text %}{% endblock %}

{% block body_html_content %}
    <p>
        Здравствуйте, {{ user.name }}!
    </p>
    <p>
        Вы успешно зарегистрировались, но пока не активировали аккаунт.
    </p>
    <p>
        Вы можете сделать это, нажав на ссылку ниже.<br>
        Ссылка для активации действительна в течение 24 часов.<br>
        Если вы не успеете активировать аккаунт в течение этого времени, выполните вход, и вам автоматически отправится письмо с новой активационной ссылкой.
    </p>
    <p>
        <a href="{{ activationUrl }}">
            {{ activationUrl }}
        </a>
    </p>
    <p>
        ––<br>
        Команда {{ app_site_name_for_email }}
    </p>
{% endblock %}
