{% extends 'emails/email_layout.html.twig' %}

{% block subject %}Аккаунт активирован – {{ app_site_name }}{% endblock %}

{% block body_text %}{% endblock %}

{% block body_html_content %}
    <p>
        Здравствуйте, {{ user.name }}!
    </p>
    <p>
        Вы успешно зарегистрировались и активировали ваш аккаунт. Добро пожаловать!
    </p>
    <p>
        Вы можете войти здесь:
        <a href="{{ absolute_url(path('app_login')) }}">
            {{ absolute_url(path('app_login')) }}
        </a>
    </p>
    <p>
        ––<br>
        Команда {{ app_site_name }}
    </p>
{% endblock %}
