{% extends 'emails/email_layout.html.twig' %}

{% block subject %}Активируйте аккаунт – {{ app_site_name }}{% endblock %}

{% block body_text %}{% endblock %}

{% block body_html_content %}
    <p>
        Здравствуйте, {{ user.name }}!
    </p>
    <p>
        Вы успешно зарегистрировались, но пока не активировали аккаунт.
    </p>
    <p>
        Вы можете сделать это, нажав на ссылку ниже.<br>
        Ссылка для активации действительна в течение одного часа.
    </p>
    <p>
        <a href="{{ activationUrl }}">
            {{ activationUrl }}
        </a>
    </p>
    <p>
        ––<br>
        Команда {{ app_site_name }}
    </p>
{% endblock %}
