{% extends 'layout/base.html.twig' %}

{% block title %}Мои адреса{{ parent() }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-9 align-self-center">
        <h1 class="mb-0">Мои адреса</h1>
    </div>
    <div class="col-sm-12 col-md-3 align-self-center text-right">
        <a id="user_address_new" class="btn btn-sm btn-primary" href="{{ path('user_address_new') }}" title="Добавить">
            <i class="fa fa-plus"></i> Добавить
        </a>
    </div>
</div>
<hr>

<div class="row pb-3">
    {% for user_address in user_addresses %}
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-4">
            <div class="card-body">
                <table class="table table-borderless table-sm mb-0">
                    <tr>
                        <td><i class="fas fa-address-card"></i></td>
                        <td>{{ user_address.lastName|upper }} {{ user_address.firstName }} {{ user_address.middleName }}</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-home"></i></td>
                        <td>
                            {{ user_address.postCode }} {{ user_address.country }}<br>
                            {{ user_address.region }} {{ user_address.city }}<br>
                            {{ user_address.street }}
                            {%- if user_address.house is defined -%}, дом {{ user_address.house }}{%- endif -%}
                            {%- if (user_address.building) -%}, корп./стр. {{ user_address.building }}{%- endif -%}
                            {%- if user_address.flat is defined -%}, кв. {{ user_address.flat }}{%- endif -%}
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-phone"></i></td>
                        <td>{{ user_address.phone }}</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-envelope"></i></td>
                        <td>{{ user_address.email }}</td>
                    </tr>
                </table>
                <hr>
                <div class="text-muted d-flex">
                    <div class="align-self-center font-small">
                        <strong>Адрес ID:</strong> {{ user_address.id }}<br>
                        <strong>Статус:</strong> {{ user_address.status }}
                    </div>
                    <div class="align-self-center ml-auto">
                        {% if is_granted('USER_ADDRESS_EDIT', user_address) %}
                            {{ include('layout/_edit_button.html.twig', {'route': 'user_address_edit', 'id': user_address.id}) }}
                            {{ include('layout/_delete_button.html.twig', {'route': 'user_address_delete', 'id': user_address.id}) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-12">
        <p>Записей не найдено.</p>
    </div>
    {% endfor %}
</div>

{% endblock %}
