{% extends 'layout/base.html.twig' %}

{% block title %}Адреса{{ parent() }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12 col-md-9">
            <h1 class="align-self-center">Адреса</h1>
        </div>
        <div class="col-sm-12 col-md-3 text-right">
            <a class="btn btn-block btn-dark-green" href="{{ path('user_address_new') }}" style="min-width: 145px">
                <i class="fa fa-plus-square pr-1"></i> Создать
            </a>
        </div>
    </div>
    <hr>

    <section class="mt-3 pb-3">
        <div class="row">
            {% for user_address in user_addresses %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card border-mdb mb-4">
                    <div class="card-body">
                        <table class="table table-borderless table-sm">
                            <tr>
                                <th><i class="fas fa-address-card"></i></th>
                                <th>{{ user_address.lastName|upper }} {{ user_address.firstName }} {{ user_address.middleName }}</th>
                            </tr>
                            <tr>
                                <th><i class="fas fa-home"></i></th>
                                <th>
                                    {{ user_address.postCode }} {{ user_address.country }}<br>
                                    {{ user_address.region }} {{ user_address.city }}<br>
                                    {{ user_address.street }}
                                    {%- if user_address.house is defined -%}, дом {{ user_address.house }}{%- endif -%}
                                    {%- if (user_address.building) -%}, корп./стр. {{ user_address.building }}{%- endif -%}
                                    {%- if user_address.flat is defined -%}, кв. {{ user_address.flat }}{%- endif -%}
                                </th>
                            </tr>
                            <tr>
                                <th><i class="fas fa-phone"></i></th>
                                <th>{{ user_address.phone }}</th>
                            </tr>
                            <tr>
                                <th><i class="fas fa-envelope"></i></th>
                                <th>{{ user_address.email }}</th>
                            </tr>
                        </table>
                        <div class="text-muted d-flex">
                            <div class="align-self-center font-small">Адрес ID {{ user_address.id }}</div>
                            <a class="btn btn-sm btn-narrow btn-mdb-color darken-3 ml-auto" href="{{ path('user_address_edit', {'id': user_address.id}) }}"><i class="fas fa-edit"></i></a>
                            {{ include('user_address/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-12">
                <p>Записей не найдено.</p>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
