{% extends 'layout/base.html.twig' %}

{% form_theme basketForm 'form/errors.html.twig' %}

{% block title %}Адреса{{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <h1 class="align-self-center">Заказы</h1>
        </div>
        <div class="col-sm-12 col-md-3 text-right">
            <button type="button" class="btn btn-sm btn-dark-green" data-toggle="modal" data-target="#modalBasketNew">
                <nobr><i class="fa fa-plus pr-1"></i> Новый заказ</nobr>
            </button>
        </div>
    </div>

    <table class="table table-sm table-responsive-sm">
        <thead>
        <tr>
            <td rowspan="2">Дата создания</td>
            <td rowspan="2">Номер</td>
            <td rowspan="2">Магазин</td>
            <td rowspan="2">Сумма</td>
            <td colspan="3" class="text-center">Доставка</td>
            <td rowspan="2">Итого</td>
        </tr>
        <tr>
            <td class="border-0">по США</td>
            <td class="border-0">в Россию</td>
            <td class="border-0">по России</td>
        </tr>
        </thead>
        <tbody>
        {% for basket in baskets %}
            <tr>
                <td>{{ basket.createDate.format('Y-m-d') }}</td>
                <td>
                    <a class="dashed" href="{{ path('basket_show', {'id': basket.id} ) }}">{{ basket.idWithPrefix }}</a>
                    {% if basket.userComment %}
                        <i class="far fa-comment pl-1" data-toggle="tooltip" title="{{ basket.userComment }}"></i>
                    {% endif %}
                </td>
                <td>
                    {{ basket.shop }}
                </td>
                <td>
                    122.86$<br><span>8355 руб.</span>
                </td>
                <td>
                    –<br><span>–</span>
                </td>
                <td>
                    4.2$<br><span>286 руб.</span>
                </td>
                <td>
                    4.2$<br><span>286 руб.</span>
                </td>
                <td>
                    127.06$<br><span>8525 руб.</span>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Записей не найдено.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Modal: modalBasketNew -->
    <div class="modal fade" id="modalBasketNew" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h4 class="modal-title">Новый заказ</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body ui-front">{# без класса ui-front список autocomplite'a будет показан не рядом с полем поиска #}
                    {{ include('basket/_form.html.twig', {'comment_placeholder': 'Можно написать позже'}) }}
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button class="btn btn-dark-green" type="submit" formnovalidate>{{ button_label|default('Сохранить') }}</button>
                </div>
                {{ form_end(basketForm, {'render_rest': false}) }}
            </div>
        </div>
    </div>
    <!-- Modal: modalBasketNew -->

{% endblock %}

{% block javascripts %}
    {% if modalBasketNewShow %}
        <script>
            $(() => {
                $('#modalBasketNew').modal('show');
            });
        </script>
    {% endif %}
{% endblock %}
