{% extends 'layout/base.html.twig' %}

{% block title %}Адреса{{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <h1 class="align-self-center">Заказы</h1>
        </div>
        <div class="col-sm-12 col-md-3 text-right">
            <button type="button" class="btn btn-block btn-dark-green" data-toggle="modal" data-target="#modalBasketNew" style="min-width: 145px">
                <i class="fa fa-plus-square pr-1"></i> Новый заказ
            </button>
        </div>
    </div>
    <hr>

    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            <td>№ заказа</td>
            <td>Магазин</td>
            <td>Дата создания</td>
            <td>Кол-во товаров</td>
            <td>Сумма</td>
            <td>Доставка</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for basket in baskets %}
            <tr>
                <td>
                    {{ basket.idWithPrefix }}<br>
                    {{ basket.status }}
                </td>
                <td>{{ basket.shop }}</td>
                <td>{{ basket.createDate.format('Y-m-d') }}</td>
                <td>–</td>
                <td>–</td>
                <td>
                    По США: {{ basket.deliveryToStock ?? '–'}}<br>
                    В Россию: {{ basket.deliveryToRussia ?? '–' }}<br>
                    До адресата: {{ basket.deliveryToClient ?? '–' }}
                </td>
                <td class="justify-content-center d-flex">
                    <div class="d-flex">
                        <a class="btn btn-sm btn-mdb-color darken-3" href="{{ path('basket_edit', {'id': basket.id}) }}"><i class="fas fa-edit"></i></a>
                    </div>
                    {{ include('basket/_delete_form.html.twig') }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Записей не найдено.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Modal: modalBasketNew -->
    <div class="modal fade" id="modalBasketNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Новый заказ</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body ui-front">{# без класса ui-front список autocomplite'a будет показан не рядом с полем поиска #}
                    {{ include('basket/_form.html.twig') }}
                </div>
                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <button class="btn btn-dark-green" type="submit" formnovalidate>
                        <i class="fa fa-plus-square pr-1"></i> {{ button_label|default('Сохранить') }}
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <!-- Modal: modalBasketNew -->

{% endblock %}
