{% extends 'layout/base.html.twig' %}

{% block title %}Адреса{{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <h1 class="align-self-center">Заказы</h1>
        </div>
        <div class="col-sm-12 col-md-3 text-right">
            <button type="button" class="btn btn-block btn-dark-green" data-toggle="modal" data-target="#modalBasketNew" style="min-width: 145px">
                <i class="fa fa-plus-square pr-1"></i> Новый заказ
            </button>
        </div>
    </div>
    <hr>

    <section class="mt-3 pb-3">
        <div class="row">
            {% for basket in baskets %}
                <div class="col-12">
                    <div class="card border-mdb mb-4">
                        <div class="card-body">

                            <div class="row d-flex">
                                <div class="col-sm-12 col-md-9 d-flex">
                                    <h4 class="align-self-center mb-0">Заказ {{ basket.idWithPrefix }} {{ basket.shop }}</h4>
                                    <div class="align-self-center ml-3">

                                        Статус: {{ basket.status }}
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3 text-right d-flex">
                                    <a class="btn btn-sm btn-narrow btn-mdb-color darken-3 ml-auto" href="{{ path('basket_edit', {'id': basket.id}) }}"><i class="fas fa-edit"></i></a>
                                    {{ include('basket/_delete_form.html.twig') }}
                                </div>
                            </div>
                            <hr>

                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p>Записей не найдено.</p>
                </div>
            {% endfor %}
        </div>
    </section>

    <!-- Modal: modalBasketNew -->
    <div class="modal fade" id="modalBasketNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Новый заказ</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body ui-front">{# без класса ui-front список autocomplite'a будет показан не рядом с полем поиска #}
                    {{ include('basket/_form.html.twig') }}
                </div>
                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <button class="btn btn-dark-green" type="submit" formnovalidate>
                        <i class="fa fa-plus-square pr-1"></i> {{ button_label|default('Сохранить') }}
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <!-- Modal: modalBasketNew -->

{% endblock %}
