{% extends 'layout/base.html.twig' %}

{% form_theme basketForm 'form/errors.html.twig' %}

{% block title %}Адреса{{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <h1 class="align-self-center">Заказы</h1>
        </div>
        <div class="col-sm-12 col-md-3 text-right">
            <button type="button" class="btn btn-sm btn-narrow btn-dark-green" data-toggle="modal" data-target="#modalBasketNew">
                <nobr><i class="fa fa-plus pr-1"></i> Новый заказ</nobr>
            </button>
        </div>
    </div>

    <table class="table table-sm table-responsive-sm">
        <thead>
        <tr>
            <th rowspan="2">Дата создания</th>
            <th rowspan="2">Номер</th>
            <th rowspan="2">Статус</th>
            <th rowspan="2">Магазин</th>
            <th rowspan="2">Сумма</th>
            <th colspan="3" class="text-center">Доставка</th>
            <th rowspan="2">Итого</th>
        </tr>
        <tr>
            <th>по США</th>
            <th>в Россию</th>
            <th>по России</th>
        </tr>
        </thead>
        <tbody>
        {% for basket in baskets %}
            <tr>
                <td>{{ basket.createDate.format('Y-m-d') }}</td>
                <td>
                    <a class="dashed" href="{{ path('basket_show', {'id': basket.id} ) }}">{{ basket.idWithPrefix }}</a>
                    {% if basket.userComment %}
                        <i class="far fa-comment pointer pl-1" data-toggle="tooltip" title="{{ basket.userComment }}"></i>
                    {% endif %}
                </td>
                <td>
                    {{ include('bit/_basket_status.html.twig') }}
                    {{ include('bit/_basket_rate_icon.html.twig') }}
                </td>
                <td>{{ basket.shop }}</td>
                <td>
                    {{ (basket.productsSum) ? basket.productsSum ~ '$' : '–' }}
                    <br>{{ (basket.rate and basket.productsSumRub) ? basket.productsSumRub ~ ' руб.' : '–' }}
                </td>
                <td>
                    {{ basket.deliveryToStock ? basket.deliveryToStock ~ '$': '–' }}
                    <br>{{ (basket.rate and basket.deliveryToStockRub) ? basket.deliveryToStockRub ~ ' руб.' : '–' }}
                </td>
                <td>
                    {{ basket.deliveryToRussia ? basket.deliveryToRussia ~ '$': '–' }}
                    <br>{{ (basket.rate and basket.deliveryToRussiaRub) ? basket.deliveryToRussiaRub ~ ' руб.' : '–' }}
                </td>
                <td>
                    <br>{{ basket.deliveryToClient ? basket.deliveryToClient ~ ' руб.' : '–'}}
                </td>
                <td>
                    <br>{{ basket.rate and basket.totalRub ? basket.totalRub ~ ' руб.' : '–'}}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Записей не найдено.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Modal: modalBasketNew -->
    <div class="modal fade" id="modalBasketNew" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h4 class="modal-title">Новый заказ</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body ui-front">{# без класса ui-front список autocomplite'a будет показан не рядом с полем поиска #}
                    {{ include('basket/_form.html.twig', {'comment_placeholder': 'Можно написать позже'}) }}
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button class="btn btn-sm btn-narrow btn-dark-green" type="submit" formnovalidate>{{ button_label|default('Сохранить') }}</button>
                </div>
                {{ form_end(basketForm, {'render_rest': false}) }}
            </div>
        </div>
    </div>
    <!-- Modal: modalBasketNew -->

{% endblock %}

{% block javascripts %}
    {% if modalBasketNewShow %}
        <script>
            $(() => {
                $('#modalBasketNew').modal('show');
            });
        </script>
    {% endif %}
{% endblock %}
