{% extends 'layout/base.html.twig' %}

{% form_theme basketForm 'layout/form/errors.html.twig' %}
{% form_theme productForm 'layout/form/errors.html.twig' %}

{% block title %}Адреса{{ parent() }}{% endblock %}

{% block body %}

    {# @var $basket Basket #}
    <div class="row">
        <div class="col-12">
            <h1 class="align-self-center mb-0">Заказ {{ basket.idWithPrefix }}</h1>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-12 col-md-4">
            <strong>Магазин:</strong> <a href="{{ basket.shop }}" target="_blank">{{ basket.shop }} <i class="fa fa-xs fa-external-link-alt"></i></a>
            <br>
            <strong>Комментарий:</strong> {% if basket.userComment %}{{ basket.userComment }}{% else %}–{% endif %}

        </div>
        <div class="col-12 col-md-4">
            <strong>Статус:</strong> {{ include('layout/bit/_basket_status.html.twig') }}
            <br><strong>Курс $:</strong>{{ include('layout/bit/_basket_rate_icon.html.twig', {badge:true}) }}
        </div>
        <div class="col-12 col-md-4 text-right">
            {% if is_granted('BASKET_MANAGE', basket) %}
                <button type="button" class="btn btn-sm btn-narrow btn-dark-green" data-toggle="modal" data-target="#modalBasketEdit">
                    <i class="fa fa-edit pr-1"></i> Редактировать
                </button>
                {{ include('basket/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-12">
            <h2 class="align-self-center">Товары
                {% if is_granted('BASKET_MANAGE', basket) %}
                    <button type="button" class="btn btn-sm btn-narrow btn-dark-green" data-toggle="modal" data-target="#modalProductNew">
                        <i class="fa fa-plus"></i> <span class="d-none d-sm-inline pl-1">Добавить</span>
                    </button>
                {% endif %}
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-sm table-responsive-sm">
                <thead>
                <tr>
                    <th style="width: 1%">#</th>
                    <th style="width: 20%">Название</th>
                    <th style="width: 1%"><nobr>Кол-во</nobr></th>
                    <th style="width: 1%"><nobr>Цена $</nobr></th>
                    <th style="width: 1%"><nobr>Сумма $</nobr></th>
                    <th style="width: 1%">
                        <nobr>
                            Сумма р. {{ include('layout/bit/_basket_rate_icon.html.twig') }}
                        </nobr>
                    </th>
                    {% if is_granted('BASKET_MANAGE', basket) %}
                        <th style="width: 1%">Действия</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for product in basket.products %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            <a href="{{ product.url }}" target="_blank">{{ product.name }} <i class="fa fa-xs fa-external-link-alt"></i></a>
                            {% if product.article %}{{ product.article }}{% endif %}
                            {% if product.comment %}<br>{{ product.comment }}{% endif %}
                        </td>
                        <td>{{ product.amount }}</td>
                        <td>{{ product.userPrice }}</td>
                        <td>{{ product.sum }}</td>
                        <td>{% if basket.rate %}{{ product.sumRub }}{%- else -%}{%- endif -%}</td>
                        {% if is_granted('BASKET_MANAGE', basket) %}
                            <td>
                                <nobr>
                                    <button type="button" class="btn btn-sm btn-narrow btn-mdb-color darken-3 mr-2 product-edit" data-id="{{ product.id }}">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                {{ include('product/_delete_form.html.twig') }}
                                </nobr>
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Вы еще не добавили ни одного товара.</td>
                    </tr>
                {% endfor %}
                {% if basket.products.count %}
                    <tr>
                        <th></th>
                        <th>Итого товары</th>
                        <th>{{ basket.productsAmount }}</th>
                        <th></th>
                        <th>{{ basket.productsSum }}</th>
                        <th>{% if basket.rate %}{{ basket.productsSumRub }}{%- else -%}–{%- endif -%}</th>
                        <th></th>
                    </tr>
                    {% if basket.deliveryToStock %}
                        <tr>
                            <td></td>
                            <td colspan="3">Доставка по США</td>
                            <td>{{ basket.deliveryToStock }}</td>
                            <td>{{ (basket.rate and basket.deliveryToStockRub) ? basket.deliveryToStockRub : '–' }}</td>
                            <td></td>
                        </tr>
                    {% endif %}
                    {% if basket.deliveryToRussia %}
                        <tr>
                            <td></td>
                            <td colspan="3">Доставка в Россию</td>
                            <td>{{ basket.deliveryToRussia }}</td>
                            <td>{{ (basket.rate and basket.deliveryToRussiaRub) ? basket.deliveryToRussiaRub : '–' }}</td>
                            <td></td>
                        </tr>
                    {% endif %}
                    {% if basket.deliveryToClient %}
                        <tr>
                            <td></td>
                            <td colspan="4">Доставка по России</td>
                            <td>{{ basket.deliveryToClient }}</td>
                            <td></td>
                        </tr>
                    {% endif %}
                    {% if basket.additionalCost %}
                        <tr>
                            <td></td>
                            <td colspan="2">
                                Дополнительные затраты <i class="far fa-comment" data-toggle="tooltip" title="{{ basket.additionalCostComment }}"></i>
                            </td>
                            <td>{{ basket.additionalCost }}</td>
                            <td colspan="3"></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th></th>
                        <th colspan="4">Итого товары + доставка</th>
                        <th>{{ basket.rate and basket.totalRub ? basket.totalRub : '–'}}</th>
                        <th></th>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal: modalBasketEdit -->
    <div class="modal fade" id="modalBasketEdit" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h4 class="modal-title">Редактировать заказ {{ basket.idWithPrefix }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body ui-front">{# без класса ui-front список autocomplite'a будет показан не рядом с полем поиска #}
                    {{ include('basket/_form.html.twig') }}
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button class="btn btn-sm btn-dark-green" type="submit" formnovalidate>{{ button_label|default('Обновить') }}</button>
                </div>
                {{ form_end(basketForm, {'render_rest': false}) }}
            </div>
        </div>
    </div>
    <!-- Modal: modalBasketEdit -->

    <!-- Modal: modalProductNew -->
    <div class="modal fade" id="modalProductNew" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                {{ form_start(productForm) }}
                <!--Header-->
                <div class="modal-header">
                    <h4 class="modal-title">Новый товар</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    {{ include('product/_form.html.twig') }}
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button class="btn btn-sm btn-dark-green" type="submit" formnovalidate>{{ button_label|default('Сохранить') }}</button>
                </div>
                {{ form_end(productForm, {'render_rest': false}) }}
            </div>
        </div>
    </div>
    <!-- Modal: modalProductNew -->

    <!-- Modal: modalProductEdit -->
    <div class="modal fade" id="modalProductEdit" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <!-- Modal: modalProductEdit -->

{% endblock %}

{% block javascripts %}
    {% if modalBasketEditShow %}<script>$(() => { $('#modalBasketEdit').modal('show'); });</script> {% endif %}
    {% if modalProductNewShow %}<script>$(() => { $('#modalProductNew').modal('show'); });</script> {% endif %}
{% endblock %}
