{% extends 'layout/base.html.twig' %}

{% block title %}Адреса{{ parent() }}{% endblock %}

{% block body %}

    {# @var $basket Basket #}
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h1 class="align-self-center mb-0">Заказ {{ basket.idWithPrefix }}</h1>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 text-right">
            <a class="btn btn-sm btn-mdb-color" href="{{ path('basket_index') }}">
                <i class="fa fa-arrow-left pr-1"></i> Вернуться к списку
            </a>
            <button type="button" class="btn btn-sm btn-dark-green" data-toggle="modal" data-target="#modalBasketEdit">
                <i class="fa fa-edit pr-1"></i> Редактировать
            </button>
            {{ include('basket/_delete_form.html.twig') }}
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-4">
            <strong>Статус:</strong> {{ basket.status }}<br>
            <strong>Магазин:</strong> <a href="{{ basket.shop }}" target="_blank">{{ basket.shop }} <i class="fa fa-external-link-alt"></i></a><br>
            <strong>Комментарий:</strong> {{ basket.userComment }}<br>
        </div>
        <div class="col-md-4">
            <strong>Доставка по США:</strong> {% if basket.deliveryToStock %}{{ basket.deliveryToStock }}{% else %}–{% endif %}<br>
            <strong>Доставка в Россию:</strong> {% if basket.deliveryToRussia %}{{ basket.deliveryToRussia }}{% else %}–{% endif %}<br>
            <strong>Доставка по России:</strong> {% if basket.deliveryToClient %}{{ basket.deliveryToClient }}{% else %}–{% endif %}<br>
        </div>
        <div class="col-md-4">
            <strong>Дополнительные затраты:</strong> {{ basket.additionalCost }}
            {% if basket.additionalCost %}
                <i class="far fa-comment" data-toggle="tooltip" title="{{ basket.additionalCostComment }}"></i>
            {% else %}
                –
            {% endif %}
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h2 class="align-self-center">Товары</h2>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 text-right">
            <button type="button" class="btn btn-sm btn-dark-green" data-toggle="modal" data-target="#modalBasketEdit">
                <i class="fa fa-plus"></i> Добавить товар
            </button>
        </div>
    </div>

    <table class="table table-sm table-responsive-sm">
        <thead>
        <tr>
            <td></td>
            <td>Название</td>
            <td>Артикль</td>
            <td>Кол-во</td>
            <td>Цена</td>
            <td>Комментарий</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for product in basket.products %}
            <tr>
                <td>{{ product.name }} <a href="{{ product.url }}" target="_blank"><i class="fa fa-external-link-alt"></i></a></td>
                <td>{{ product.article }}</td>
                <td>{{ product.amount }}</td>
                <td>{{ product.userPrice }}</td>
                <td><a href="#" data-toggle="tooltip" title="{{ product.comment }}"><i class="fa fa-comment"></i></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Записей не найдено.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Modal: modalBasketEdit -->
    <div class="modal fade" id="modalBasketEdit" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h4 class="modal-title" id="modalBasketEdit">Редактировать заказ {{ basket.idWithPrefix }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    {{ include('basket/_form.html.twig') }}
                </div>
                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <button class="btn btn-dark-green" type="submit" formnovalidate>
                        {{ button_label|default('Обновить') }}
                    </button>
                </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
    <!-- Modal: modalBasketEdit -->

{% endblock %}
