<!DOCTYPE html>

<title>Basket</title>

{% block body %}
    <h1>Basket</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ basket.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ basket.status }}</td>
            </tr>
            <tr>
                <th>Active_reason</th>
                <td>{{ basket.activeReason }}</td>
            </tr>
            <tr>
                <th>Inactive_reason</th>
                <td>{{ basket.inactiveReason }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('basket_index') }}">back to list</a>

    <a href="{{ path('basket_edit', {'id': basket.id}) }}">edit</a>

    {{ include('basket/_delete_form.html.twig') }}
{% endblock %}
