{% extends 'layout/base.html.twig' %}

{% block title %}Заказ{{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h1 class="align-self-center">Редактировать заказ</h1>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 text-right">
            <a class="btn btn-mdb-color" href="{{ path('basket_index') }}">
                <i class="fa fa-arrow-left pr-1"></i> Вернуться к списку
            </a>
        </div>
    </div>
    <hr>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ basket.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ basket.status }}</td>
            </tr>
            <tr>
                <th>Active_reason</th>
                <td>{{ basket.activeReason }}</td>
            </tr>
            <tr>
                <th>Inactive_reason</th>
                <td>{{ basket.inactiveReason }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('basket_index') }}">back to list</a>

    <a href="{{ path('basket_edit', {'id': basket.id}) }}">edit</a>

    {{ include('basket/_delete_form.html.twig') }}
{% endblock %}
