{% extends 'layout/base.html.twig' %}

{% block title %}Заказ {{ basket.idWithPrefix }}{{ parent() }}{% endblock %}

{% block body %}

    {# @var $basket Basket #}
    <div class="row">
        <div class="col-12">
            <h1 class="align-self-center mb-0">Заказ {{ basket.idWithPrefix }}</h1>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-12 col-md-3">
            <strong>Менеджер:</strong> {{ basket.manager }}
            <br>
            <strong>Магазин:</strong> <a href="{{ basket.shop }}" target="_blank">{{ basket.shop }} <i class="fa fa-xs fa-external-link-alt"></i></a>
        </div>
        <div class="col-12 col-md-3">
            <strong>Статус:</strong> {{ include('layout/bit/_basket_status.html.twig') }}
            <br><strong>Курс $:</strong>{{ include('layout/bit/_basket_rate_icon.html.twig') }}
        </div>
        <div class="col-12 col-md-3">
            <strong>Комментарий:</strong> {% if basket.userComment %}{{ basket.userComment }}{% else %}–{% endif %}
        </div>
        <div class="col-12 col-md-3 text-right">
            {% if is_granted('BASKET_OPERATE', basket) %}
                <button type="button" id="basket-user-edit" data-basket-id="{{ basket.id }}" class="btn btn-sm btn-narrow btn-dark-green">
                    <i class="fa fa-edit"></i> <span class="d-none d-sm-inline pl-1">Редактировать</span>
                </button>
                {{ include('basket/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
    <hr class="mb-5">

    <div class="row">
        <div class="col-12">
            <h2 class="align-self-center">Товары
                {% if is_granted('BASKET_OPERATE', basket) %}
                    <button type="button" id="product-user-new" data-basket-id="{{ basket.id }}" class="btn btn-sm btn-narrow btn-dark-green">
                        <i class="fa fa-plus"></i> <span class="d-none d-sm-inline pl-1">Добавить</span>
                    </button>
                {% endif %}
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-sm table-bordered table-responsive-sm">
                <thead>
                <tr>
                    <th style="width: 1%">#</th>
                    <th style="width: 20%">Название</th>
                    <th class="text-right" style="width: 1%"><nobr>Кол-во</nobr></th>
                    <th class="text-right" style="width: 1%"><nobr>Цена $</nobr></th>
                    <th class="text-right" style="width: 1%"><nobr>Сумма $</nobr></th>
                    <th class="text-right" style="width: 1%"><nobr>Сумма р.</nobr></th>
                    <th class="text-right" style="width: 1%"><nobr>Вес г</nobr></th>
                    {% if is_granted('BASKET_OPERATE', basket) %}
                        <th class="text-right" style="width: 1%">Действия</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {# @var \App\Entity\Product product #}
                {% for product in basket.products %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            <a href="{{ product.url }}" target="_blank">{{ product.name }} <i class="fa fa-xs fa-external-link-alt"></i></a>
                            {% if product.article %}{{ product.article }}{% endif %}
                            {% if product.comment %}<br>{{ product.comment }}{% endif %}
                        </td>
                        <td class="text-right">{{ product.amount }} шт.</td>
                        <td class="text-right">{{ product.userPrice }} $</td>
                        <td class="text-right">{{ product.sum }} $</td>
                        <td class="text-right">{% if basket.rate %}{{ product.sumRub }} руб.{%- else -%}–{%- endif -%}</td>
                        <td class="text-right">
                            {% if product.weight %}
                                {{ product.weight }} г
                            {%- elseif product.expectedWeight -%}
                                <span class="dashed pointer" data-toggle="tooltip" title="Ожидаемый вес. Окончательный вес будет проставлен после того, как мы сами взвесим товар, или получим вес от форвардера.">{{ product.expectedWeight }} г</span>
                            {%- else -%}
                                –
                            {%- endif -%}
                        </td>
                        {% if is_granted('BASKET_OPERATE', basket) %}
                            <td class="text-right">
                                <nobr>
                                    <button type="button" class="btn btn-sm btn-narrow btn-mdb-color darken-3 mr-2 product-user-edit" data-product-id="{{ product.id }}">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                {{ include('product/_delete_form.html.twig') }}
                                </nobr>
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Вы еще не добавили ни одного товара.</td>
                    </tr>
                {% endfor %}
                {% if basket.products.count %}
                    <tr>
                        <th></th>
                        <th>Итого товары</th>
                        <th class="text-right">{{ basket.productsAmount }} шт.</th>
                        <th></th>
                        <th class="text-right">{{ basket.productsSum }} $</th>
                        <th class="text-right">{% if basket.rate %}{{ basket.productsSumRub }} руб.{%- else -%}–{%- endif -%}</th>
                        <th class="text-right">{{ basket.productsWeightSum }} г</th>
                        {% if is_granted('BASKET_OPERATE', basket) %}<th></th>{% endif %}
                    </tr>
                    {% if basket.deliveryToStock %}
                        <tr>
                            <td></td>
                            <td colspan="3">Доставка по США</td>
                            <td class="text-right">{{ basket.deliveryToStock }} $</td>
                            <td class="text-right">{% if basket.rate %}{{ basket.deliveryToStockRub }} руб.{%- else -%}–{%- endif -%}</td>
                            <td></td>
                            {% if is_granted('BASKET_OPERATE', basket) %}<td></td>{% endif %}
                        </tr>
                    {% endif %}
                    {% if basket.deliveryToRussiaPerKg %}
                        <tr>
                            <td></td>
                            <td colspan="3">
                                Доставка в Россию
                                <i class="far fa-question-circle pointer"
                                   data-toggle="tooltip"
                                   title="{{ basket.productsWeightSum }}г (вес всех товаров) / 1000 (г в кг) * {{ basket.deliveryToRussiaPerKg }}$ (стоимость доставки за 1кг)"
                                ></i>
                            </td>
                            <td class="text-right">{{ basket.deliveryToRussia }} $</td>
                            <td class="text-right">{% if basket.rate %}{{ basket.deliveryToRussiaRub }} руб.{%- else -%}–{%- endif -%}</td>
                            <td></td>
                            {% if is_granted('BASKET_OPERATE', basket) %}<td></td>{% endif %}
                        </tr>
                    {% endif %}
                    {% if basket.deliveryToClient %}
                        <tr>
                            <td></td>
                            <td colspan="4">Доставка по России</td>
                            <td class="text-right">{{ basket.deliveryToClient }} руб.</td>
                            <td></td>
                            {% if is_granted('BASKET_OPERATE', basket) %}<td></td>{% endif %}
                        </tr>
                    {% endif %}
                    {% if basket.additionalCost %}
                        <tr>
                            <td></td>
                            <td colspan="3">
                                Дополнительные затраты
                                {% if basket.additionalCostComment %}
                                    <i class="far fa-comment pointer" data-toggle="tooltip" title="{{ basket.additionalCostComment }}"></i>
                                {% endif %}
                            </td>
                            <td class="text-right">{{ basket.additionalCost }} $</td>
                            <td class="text-right">{% if basket.rate %}{{ basket.additionalCostRub }} руб.{%- else -%}–{%- endif -%}</td>
                            <td></td>
                            {% if is_granted('BASKET_OPERATE', basket) %}<td></td>{% endif %}
                        </tr>
                    {% endif %}
                    <tr>
                        <th></th>
                        <th colspan="4">Итого товары + доставка</th>
                        <th class="text-right">{% if basket.rate and basket.totalRub %}{{ basket.totalRub }} руб.{%- else -%}–{%- endif -%}</th>
                        <th></th>
                        {% if is_granted('BASKET_OPERATE', basket) %}<th></th>{% endif %}
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
