{% extends 'layout/base.html.twig' %}

{% block title %}Мои паспорта{{ parent() }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-9 align-self-center">
        <h1 class="mb-0">Мои паспорта</h1>
    </div>
    <div class="col-sm-12 col-md-3 align-self-center text-right">
        <a class="btn btn-sm btn-primary" href="{{ path('user_passport_new') }}" title="Создать">
            <i class="fa fa-plus"></i> Создать
        </a>
    </div>
</div>
<hr>

<section class="mt-3 pb-3">
    <div class="row">
        {% for user_passport in user_passports %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card border-mdb mb-4">
                    <div class="card-body">
                        <table class="table table-borderless table-sm mb-0">
                            <tr>
                                <td><i class="fas fa-address-card"></i></td>
                                <td>
                                    <strong>Серия:</strong> {{ user_passport.series }}<br>
                                    <strong>Номер:</strong> {{ user_passport.number }}<br>
                                    <strong>Дата выдачи:</strong> {{ user_passport.giveDate ? user_passport.giveDate|date('d-m-Y') : '' }}<br>
                                    <strong>Кем выдан:</strong> {{ user_passport.giveBy }}<br>
                                    <strong>Дата рождения:</strong> {{ user_passport.birthDate ? user_passport.birthDate|date('d-m-Y') : '' }}<br>
                                    <strong>ИНН:</strong> {{ user_passport.inn }}
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <div class="d-flex">
                            <div class="align-self-center font-small">
                                <strong>Паспорт ID:</strong> {{ user_passport.id }}<br>
                                <strong>Статус:</strong> {{ user_passport.status }}
                            </div>
                            <div class="align-self-center ml-auto">
                                {% if is_granted('USER_PASSPORT_MANAGE', user_passport) %}
                                    <a class="btn btn-sm btn-primary" href="{{ path('user_passport_edit', {'id': user_passport.id}) }}" title="Редактировать"><i class="fas fa-edit"></i></a>

                                    {{ include('layout/_edit_button.html.twig', {'route': 'user_passport_edit', 'id': user_passport.id}) }}
                                    {{ include('layout/_delete_button.html.twig', {'route': 'user_passport_delete', 'id': user_passport.id}) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
        <div class="col-12">
            <p>Записей не найдено.</p>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
