<div class="form-row">
    <div class="form-group col-12">
        {{ form_label(orderForm.manager, 'Менеджер совместной покупки') }}
        {{ form_widget(orderForm.manager, {'attr': {'class': 'form-control-sm'}}) }}
    </div>

    <div class="form-group col-12">
        {{ form_label(orderForm.shop, 'Магазин (ссылка)') }}
        {{ form_widget(orderForm.shop, {'attr': {'class': 'form-control-sm', 'placeholder': 'Начните вводить адрес сайта'}}) }}
        <small id="product_shop_help" class="form-text text-muted">Должен начинаться с http</small>
    </div>

    <div class="form-group col-12">
        {{ form_label(orderForm.userComment, 'Комментарий') }}
        {{ form_widget(orderForm.userComment, {'attr': {'class': 'form-control-sm', 'rows': 5, 'placeholder': comment_placeholder|default('') }}) }}
        <small id="product_userComment_help" class="form-text text-muted">Максимум 250 символов</small>
    </div>
</div>
