{% extends 'layout/base.html.twig' %}

{% block title %}Мои заказы{{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <h1 class="mb-0 align-self-center">Мои заказы</h1>
        </div>
        <div class="col-sm-12 col-md-3 text-right">
            <button type="button" id="order_new" class="btn btn-sm btn-primary">
                <nobr><i class="fa fa-plus"></i> <span class="d-none d-sm-inline pl-1">Новый заказ</span></nobr>
            </button>
        </div>
    </div>

    <table class="table table-sm table-responsive-sm">
        <thead>
        <tr>
            <th rowspan="2">Дата создания</th>
            <th rowspan="2">Номер</th>
            <th rowspan="2">Статус/Курс</th>
            <th rowspan="2">Магазин</th>
            <th rowspan="2">Сумма</th>
            <th colspan="3" class="text-center">Доставка</th>
            <th rowspan="2">Итого</th>
        </tr>
        <tr>
            <th>по США</th>
            <th>в Россию</th>
            <th>по России</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.createDate.format('Y-m-d') }}</td>
                <td>
                    <a class="dashed" href="{{ path('order_show', {'order_id': order.id} ) }}">{{ order.idWithPrefix }}</a>
                </td>
                <td>
                    {{ include('layout/bit/_order_status.html.twig') }}
                    {{ include('layout/bit/_order_rate_icon.html.twig') }}
                </td>
                <td>{{ order.shop }}</td>
                <td>
                    {{ (order.productsSum) ? order.productsSum ~ '$' : '–' }}
                    <br>{{ (order.rate and order.productsSumRub) ? order.productsSumRub ~ ' руб.' : '–' }}
                </td>
                <td>
                    {{ order.deliveryToStock ? order.deliveryToStock ~ '$': '–' }}
                    <br>{{ (order.rate and order.deliveryToStockRub) ? order.deliveryToStockRub ~ ' руб.' : '–' }}
                </td>
                <td>
                    {{ order.deliveryToRussia ? order.deliveryToRussia ~ '$': '–' }}
                    <br>{{ (order.rate and order.deliveryToRussiaRub) ? order.deliveryToRussiaRub ~ ' руб.' : '–' }}
                </td>
                <td>
                    <br>{{ order.deliveryToClient ? order.deliveryToClient ~ ' руб.' : '–'}}
                </td>
                <td>
                    <br>{{ order.rate and order.totalRub ? order.totalRub ~ ' руб.' : '–'}}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Записей не найдено.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
