<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="icon" href="/favicon.ico">
        <title>{% block title %}{% endblock %}</title>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- Material Design Bootstrap -->
        <link rel="stylesheet" href="/css/mdb.min.css">
        <!-- Your custom styles (optional) -->
        <link rel="stylesheet" href="/css/style.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="fixed-sn white-skin">

    <!--Main Navigation-->
    <header>

        <!-- Sidebar navigation -->
        <div id="slide-out" class="side-nav sn-bg-4 fixed">
            <ul class="custom-scrollbar">
                <!-- Logo -->
                <li class="logo-sn waves-effect">
                    <div class="text-center">
                        <a href="#" class="pl-0"><img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" class=""></a>
                    </div>
                </li>
                <!--/. Logo -->

                <!--Search Form-->
                <li>
                    <form class="search-form" role="search">
                        <div class="form-group md-form mt-0 pt-1 waves-light">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </li>
                <!--/.Search Form-->
                <!-- Side navigation links -->
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-tachometer-alt"></i>
                                Dashboards<i class="fas fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="../dashboards/v-1.html" class="waves-effect">Version 1</a>
                                    </li>
                                    <li><a href="../dashboards/v-2.html" class="waves-effect">Version 2</a>
                                    </li>
                                    <li><a href="../dashboards/v-3.html" class="waves-effect">Version 3</a>
                                    </li>
                                    <li><a href="../dashboards/v-4.html" class="waves-effect">Version 4</a>
                                    </li>
                                    <li><a href="../dashboards/v-5.html" class="waves-effect">Version 5</a>
                                    </li>
                                    <li><a href="../dashboards/v-6.html" class="waves-effect">Version 6</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-image"></i> Pages<i class="fas fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="../pages/login.html" class="waves-effect">Login</a>
                                    </li>
                                    <li><a href="../pages/register.html" class="waves-effect">Register</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-user"></i> Profile<i class="fas fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="../profile/basic-1.html" class="waves-effect">Basic 1</a>
                                    </li>
                                    <li><a href="../profile/basic-2.html" class="waves-effect">Basic 2</a>
                                    </li>
                                    <li><a href="../profile/extended.html" class="waves-effect">Extended</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="collapsible-header waves-effect arrow-r"><i class="fab fa-css3"></i> CSS<i class="fas fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="../css/grid.html" class="waves-effect">Grid system</a>
                                    </li>
                                    <li><a href="../css/media.html" class="waves-effect">Media object</a>
                                    </li>
                                    <li><a href="../css/utilities.html" class="waves-effect">Utilities / helpers</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-th"></i> Components<i class="fas fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="../components/buttons.html" class="waves-effect">Buttons</a>
                                    </li>
                                    <li><a href="../components/cards.html" class="waves-effect">Cards</a>
                                    </li>
                                    <li><a href="../components/collapse.html" class="waves-effect">Collapse</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="collapsible-header waves-effect arrow-r"><i class="far fa-check-square"></i> Forms<i
                                        class="fas fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="../forms/basic.html" class="waves-effect">Basic</a>
                                    </li>
                                    <li><a href="../forms/extended.html" class="waves-effect">Extended</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-table"></i> Tables<i class="fas fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="../tables/basic.html" class="waves-effect">Basic</a>
                                    </li>
                                    <li><a href="../tables/extended.html" class="waves-effect">Extended</a>
                                    </li>
                                    <li><a href="../tables/datatables.html" class="waves-effect">DataTables.net</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-map"></i> Maps<i class="fas fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="../maps/google.html" class="waves-effect">Google Maps</a>
                                    </li>
                                    <li><a href="../maps/full.html" class="waves-effect">Full screen map</a>
                                    </li>
                                    <li><a href="../maps/vector.html" class="waves-effect">Vector world map</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Simple link -->
                        <li><a href="../alerts/alerts.html" class="collapsible-header waves-effect"><i class=" far fa-bell"></i>
                                Alerts</a></li>

                        <li><a href="../modals/modals.html" class="collapsible-header waves-effect"><i class=" fas fa-bolt"></i>
                                Modals</a></li>

                        <li><a href="../charts/charts.html" class="collapsible-header waves-effect"><i class=" fas fa-chart-pie"></i>
                                Charts</a></li>

                        <li><a href="../calendar/calendar.html" class="collapsible-header waves-effect"><i class=" far fa-calendar-check"></i>
                                Calendar</a></li>

                        <li><a href="../sections/sections.html" class="collapsible-header waves-effect"><i class=" fas fa-th-large"></i>
                                Sections</a></li>

                    </ul>
                </li>
                <!--/. Side navigation links -->
            </ul>
            <div class="sidenav-bg mask-strong"></div>
        </div>
        <!--/. Sidebar navigation -->

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark mdb-color darken-3 scrolling-navbar">
            <div class="container">

                <!-- SideNav slide-out button -->
                <div class="float-left">
                    <a href="" data-activates="slide-out" class="button-collapse black-text"><i class="fas fa-bars"></i></a>
                </div>

                <a class="navbar-brand" href="#" target="_blank">
                    <strong>Совместные покупки<span class="d-none d-md-inline"> в интернет-магазинах США</span></strong>
                </a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">About MDB</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">Free download</a>
                        </li>
                    </ul>

                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            {% if is_granted('ROLE_USER') %}
                                <a class="nav-link" href="{{ path('app_logout') }}">
                                    <i class='fa fa-user'></i> {{ app.user.name }}
                                </a>
                            {% else %}
                                <a class="nav-link" href="{{ path('app_login') }}">
                                    <i class='fa fa-sign-in-alt'></i> Войти
                                </a>
                            {% endif %}
                        </li>

            </ul>
            <!--/Navbar links-->
        </nav>
        <!-- /.Navbar -->

    </header>
    <!--Main Navigation-->

        <main class="mt-5 pt-2">
            <!-- User switch -->
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <div class="alert alert-danger text-center mb-0"
                     style="border-radius: 0; font-size: 0.9rem; padding: .3rem 1.25rem;"
                >
                    You are currently switched to user <strong>{{ app.user.name }} ({{ app.user.email }})</strong>.
                    <a class="alert-link" href="{{ path('app_homepage', {'_switch_user' : '_exit'}) }}"> <i class="fas fa-sign-out-alt ml-2"></i> Exit</a>
                </div>
            {% endif %}
            <!-- /User switch -->

            <!-- Flash messages -->
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
            <!-- /Flash messages -->

            <div class="container mt-5">
                {% block body %}{% endblock %}
            </div>
        </main>

        <!-- Footer -->
        <footer class="page-footer font-small unique-color-dark">

            <div class="info-color-dark">
                <div class="container">

                    <div class="row py-3 d-flex align-items-center">

                        <div class="col-md-4 text-center mb-4 mb-md-0">
                            <h6 class="mb-0">Get connected with us on social networks!</h6>
                        </div>

                        <div class="col-md-4 text-center mb-4 mb-md-0">
                            <a id="footer-link-newsletter" href="#" class="border p-2 px-3 d-none d-md-inline-block">
                                Newsletter <i class="fas fa-envelope white-text ml-2"> </i>
                            </a>
                        </div>

                        <div class="col-md-4 text-center">

                            <a class="fb-ic">
                                <i class="fab fa-facebook-f white-text mr-4"> </i>
                            </a>
                            <a><i class="fab fa-vk white-text mr-4"></i></a>
                            <a class="tw-ic">
                                <i class="fab fa-twitter white-text mr-4"> </i>
                            </a>
                            <a class="gplus-ic">
                                <i class="fab fa-google-plus-g white-text mr-4"> </i>
                            </a>
                            <a class="li-ic">
                                <i class="fab fa-linkedin-in white-text mr-4"> </i>
                            </a>
                            <a class="ins-ic">
                                <i class="fab fa-instagram white-text"> </i>
                            </a>

                        </div>

                    </div>

                </div>
            </div>

            <!-- Footer Links -->
            <div class="container text-center text-md-left pt-4">

                <div class="row mt-3">

                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase font-weight-bold">Company name</h6>
                        <hr class="info-color-dark mb-4 mt-0 d-inline-block mx-auto">
                        <p>
                            Here you can use rows and columns here to organize your footer content.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase font-weight-bold">Products</h6>
                        <hr class="info-color-dark mb-4 mt-0 d-inline-block">
                        <p><a href="#!">MDBootstrap</a></p>
                        <p><a href="#!">MDWordPress</a></p>
                        <p><a href="#!">BrandFlow</a></p>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                        <hr class="info-color-dark mb-4 mt-0 d-inline-block">
                        <p><a href="#!">Your Account</a></p>
                        <p><a href="#!">Become an Affiliate</a></p>
                        <p><a href="#!">Shipping Rates</a></p>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase font-weight-bold">Contact</h6>
                        <hr class="info-color-dark mb-4 mt-0 d-inline-block mx-auto">
                        <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                        <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                        <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                    </div>

                </div>

            </div>
            <!-- /Footer Links -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="/">promagic.ru</a>
            </div>
            <!-- /Copyright -->

        </footer>
        <!-- /Footer -->

        <!-- SCRIPTS -->
        <!-- JQuery -->
        <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="/js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="/js/mdb.js"></script>
        <!-- Initializations -->
        <script type="text/javascript">
            // Animations initialization
            new WOW().init();
            // SideNav Initialization
            $(".button-collapse").sideNav();

            var container = document.querySelector('.custom-scrollbar');
            Ps.initialize(container, {
                wheelSpeed: 2,
                wheelPropagation: true,
                minScrollbarLength: 20
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>

</html>